@page
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Conestoga Virtual Game Store</h1>
    <img src="~/images/office.gif" alt="office" />
    <p>Welcome to the CVGS! This is the goto college website for all your gaming needs!</p>
    <p>We also provide information about local upcoming events for the college!</p>
</div>
