@page
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>This site was made for PROG3050</h2>
<p>This is an experimental site used for educational purposes at Conestoga College.</p>
<p>Team Members:</p>
<p>Tien-Loc (Tony) Pham</p>
<p>Nathan Caldwell</p>
<p>Justin Harvey</p>
<p>Taekmin Jeong</p>
<p>Yeseom Choe</p>