@using Microsoft.AspNetCore.Http;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
@model CVGS_Site.Models.Person

@{
    ViewData["Title"] = "Editing " + Model.GivenName + "'s Profile";
}

<h1>Editing @Model.GivenName's profile</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="errorText">
            <p>@TempData["EditError"]</p>
        </div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger color-red "></span>
                </div>
                <div class="form-group">
                    <label asp-for="GivenName" class="control-label"></label>
                    <input asp-for="GivenName" class="form-control" />
                    <span asp-validation-for="GivenName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProvinceCode" class="control-label"></label>
                    <select asp-for="ProvinceCode" class="form-control" asp-items="ViewBag.ProvinceCode"></select>
                    <span asp-validation-for="ProvinceCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CountryCode" class="control-label"></label>
                    <select asp-for="CountryCode" class="form-control" asp-items="ViewBag.CountryCode"></select>
                    <span asp-validation-for="CountryCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LandLine" class="control-label"></label>
                    <input asp-for="LandLine" class="form-control" />
                    <span asp-validation-for="LandLine" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Extension" class="control-label"></label>
                    <input asp-for="Extension" class="form-control" />
                    <span asp-validation-for="Extension" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fax" class="control-label"></label>
                    <input asp-for="Fax" class="form-control" />
                    <span asp-validation-for="Fax" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="UserName" />
                <input type="hidden" asp-for="Password" />
            </div>
            <div class="form-group">
                <a class="btn btn-primary" asp-action="Profile" asp-route-profileId="@Context.Session.GetInt32("loggedInPersonID")">Cancel</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
