@using Microsoft.AspNetCore.Http;
@model CVGS_Site.Models.Reviews

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "_Layout"; }

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Your Review</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <h4>Game</h4>
            <h5>@ViewData["GameName"]</h5>
            <div hidden class="form-group">
                <label asp-for="GameId" class="control-label">Game</label>
                <input asp-for="GameId" asp- class="form-control" />
                <span asp-validation-for="GameId" class="text-danger"></span>
            </div>
            <h4>Reviewer</h4>
            <h5>@ViewData["ReviewerName"]</h5>
            <div hidden class="form-group">
                <label asp-for="PersonId" class="control-label">Person</label>
                <input asp-for="PersonId" class="form-control" />
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <h4>Review Written On</h4>
            <h5>@Html.DisplayFor(item => item.ReviewDate)</h5>
            <div hidden class="form-group">
                <label asp-for="ReviewDate" class="control-label"></label>
                <textarea asp-for="ReviewDate" class="form-control"></textarea>
                <span asp-validation-for="ReviewDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <input asp-for="Review" class="form-control" />
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.GameId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
